<!-- <div class="container">
    <div class="content-card p-5 mx-auto">
        <div>
            <h3 class="d-inline-block mr-4">Characters:</h3>
            <button routerLink="/admin/characters/characters-show-all">Show All Characters</button> |
            <button routerLink="/admin/characters/characters-create-character">Create Character</button>
        </div>
        <div>
            <h3 class="d-inline-block mr-4">Moves:</h3>
            <button routerLink="/admin/moves/moves-show-all">Show All Moves</button> |
            <button routerLink="/admin/moves/moves-create-move">Create Move</button>
        </div>
        <div>
            <h3 class="d-inline-block mr-4">Posts:</h3>
            <button routerLink="/admin/posts/posts-create-post">Create Post</button>
        </div>
        <div>
            <h3 class="d-inline-block mr-4">Tags:</h3>
            <button routerLink="/admin/tags/tags-create-tag">Create Tag</button>
        </div>
        <div>
            <h3 class="d-inline-block mr-4">Users:</h3>
            <button routerLink="/admin/users/users-show-all">Show All Users</button>
        </div>
    </div>
</div> -->

<div class="content-page">
    <div class="content-page-list">
        <h1 class="characters m-3 p-2" routerLinkActive="active" routerLink="/admin/characters/">Characters</h1>
        <h1 class="moves m-3 p-2" routerLinkActive="active" routerLink="/admin/moves/">Moves</h1>
        <h1 class="posts m-3 p-2" routerLinkActive="active" routerLink="/admin/posts/posts-create-post">Posts</h1>
        <h1 class="tags m-3 p-2" routerLinkActive="active" routerLink="/admin/tags/tags-create-tag">Tags</h1>
        <h1 class="users m-3 p-2" routerLinkActive="active" routerLink="/admin/users/users-show-all">Users</h1>
    </div>
    <div class="content pb-5">
        <router-outlet></router-outlet>
    </div>
</div>