<div class=" content-card mx-auto">
    <table class="table table-hover table-dark w-50 mx-auto">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters">
                <td *ngIf="character.imagePath"><img [src]="character.imagePath" [alt]="character.name"></td>
                <td>{{character.name}}</td>
            </tr>
        </tbody>
    </table>
</div>