<div>
    <h1 class="ml-3" *ngIf="user.firstName && user.lastName">{{user.firstName}} {{user.lastName}}</h1>
    <h1 class="ml-3" *ngIf="!user.firstName && !user.lastName">{{user.username}}</h1>
</div>
<div class="content-page">
    <div class="content-page-list">
        <h1 class="account m-3 pl-2 active" (click)="newPage('account')">Personal Info</h1>
        <h1 class="password m-3 pl-2" (click)="newPage('password')">Change Password</h1>
    </div>
    <div class="content">
        <app-account *ngIf="currentPage === 'account'"></app-account>
        <app-password *ngIf="currentPage === 'password'" (currentPageEvent)="newPage($event)"></app-password>
    </div>
</div>