<div class="container">
    <h1 class="text-center m-5">Personal Info</h1>
    <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" class="text-center content-card mx-auto p-5">
        <div class="d-flex flex-column">
            <p>* required field</p>
            <div>
                <p>First Name</p>
                <input formControlName="firstName" type="text">
            </div>
            <div>
                <p>Last Name</p>
                <input formControlName="lastName" type="text">
            </div>
            <div>
                <p>*Username</p>
                <input formControlName="username" type="text">
                <p class="text-danger"
                    *ngIf="updateUserForm.controls['username'].touched && updateUserForm.controls['username'].errors?.required">
                    *Username is required.
                </p>
                <p class="text-danger"
                    *ngIf="updateUserForm.controls['username'].touched && updateUserForm.controls['username'].errors?.hasUniqueUsername">
                    *Username is not available.
                </p>
            </div>
            <div>
                <p>*Email</p>
                <input formControlName="email" type="email">
                <p class="text-danger"
                    *ngIf="updateUserForm.controls['email'].touched && updateUserForm.controls['email'].errors?.required">
                    *Email is required.
                </p>
                <p class="text-danger"
                    *ngIf="updateUserForm.controls['email'].touched && updateUserForm.controls['email'].errors?.email">
                    *Enter a valid email address.
                </p>
                <p class="text-danger"
                    *ngIf="updateUserForm.controls['email'].touched && updateUserForm.controls['email'].errors?.hasUniqueEmail">
                    *Email is not available.
                </p>
            </div>
            <div>
                <button type="submit" class="float-right">Update account</button>
            </div> 
        </div>
    </form>
</div>