<div class="container">
    <h1 class="text-center m-5">Change Password</h1>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" class="text-center content-card mx-auto p-5">
        <div class="d-flex flex-column">
            <p>* required field</p>
            <div>
                <p>*Password</p>
                <input formControlName="password" type="password">
                <p class="text-danger"
                    *ngIf="updatePasswordForm.controls['password'].touched && updatePasswordForm.controls['password'].errors?.required">
                    *Password is required.
                </p>
                <p class="text-danger"
                    *ngIf="updatePasswordForm.controls['password'].touched && updatePasswordForm.controls['password'].errors?.minlength">
                    *At least 8 characters.
                </p>
                <p class="text-danger"
                    *ngIf="updatePasswordForm.controls['password'].touched && updatePasswordForm.controls['password'].errors?.hasNumber">
                    *At least one number.
                </p>
                <p class="text-danger"
                    *ngIf="updatePasswordForm.controls['password'].touched && updatePasswordForm.controls['password'].errors?.hasCapitalCase">
                    *At least one capital letter.
                </p>
                <p class="text-danger"
                    *ngIf="updatePasswordForm.controls['password'].touched && updatePasswordForm.controls['password'].errors?.hasLowerCase">
                    *At least one lowercase letter.
                </p>
                <p class="text-danger"
                    *ngIf="updatePasswordForm.controls['password'].touched && updatePasswordForm.controls['password'].errors?.hasSpecialCharacter">
                    *At least one special character.
                </p>
            </div>
            <div>
                <p>*Confirm Password</p>
                <input formControlName="confirmPassword" type="password">
                <p class="text-danger"
                    *ngIf="updatePasswordForm.controls['confirmPassword'].touched && updatePasswordForm.controls['confirmPassword'].errors?.required">
                    * Confirm Password is required.
                </p>
                <p class="text-danger"
                    *ngIf="updatePasswordForm.controls['confirmPassword'].touched && updatePasswordForm.controls['confirmPassword'].errors?.noPasswordMatch">
                    *Passwords don't match.
                </p>
                <p>Create a password at least 8 characters long that includes at least 1 uppercase and 1 lowercase letter, 1 number and 1 special character.</p>
            </div>
            <div>
                <button type="submit" class="float-right">Update password</button>
            </div> 
        </div>
    </form>
</div>