<form [formGroup]="updateCharacterForm" (ngSubmit)="onSubmit()" class="text-center mx-auto p-5">
    <div class="d-flex flex-column">
        <p>* required field</p>
        <div>
            <p class="mb-0">*Image</p>
            <img *ngIf="previousImage" src="{{apiUrl}}/{{previousImage}}" alt="Character Image" width="200">
            <img *ngIf="imageData" [src]="imageData" alt="Character Image" width="200">
            <input (change)="onFileSelect($event)" type="file">
            <p class="text-danger"
                *ngIf="updateCharacterForm.controls['imagePath'].touched && updateCharacterForm.controls['imagePath'].errors?.required">
                *Image is required.
            </p>
        </div>
        <div>
            <input formControlName="name" type="text" placeholder="*Name">
            <p class="text-danger"
                *ngIf="updateCharacterForm.controls['name'].touched && updateCharacterForm.controls['name'].errors?.required">
                *Name is required.
            </p>
        </div>
        <div>
            <textarea formControlName="description" placeholder="*Description"></textarea>
            <p class="text-danger"
                *ngIf="updateCharacterForm.controls['description'].touched && updateCharacterForm.controls['description'].errors?.required">
                *Description is required.
            </p>
        </div>
        <div>
            <input formControlName="health" type="number" placeholder="*Health">
            <p class="text-danger"
                *ngIf="updateCharacterForm.controls['health'].touched && updateCharacterForm.controls['health'].errors?.required">
                *Health is required.
            </p>
        </div>
        <div>
            <input formControlName="speed" type="number" placeholder="*Speed">
            <p class="text-danger"
                *ngIf="updateCharacterForm.controls['speed'].touched && updateCharacterForm.controls['speed'].errors?.required">
                *Speed is required.
            </p>
        </div>
        <div>
            <p class="mb-0">*Moves</p>
            <select formControlName="moves" size="2" multiple>
                <option *ngFor="let move of moves" [value]="move._id">{{move.name}}</option>
            </select>
            <p class="text-danger"
                *ngIf="updateCharacterForm.controls['moves'].touched && updateCharacterForm.controls['moves'].errors?.required">
                *Moves are required.
            </p>
        </div>
        <div>
            <button type="submit" class="float-right">Update Character</button>
            <p class="text-danger"
                *ngIf="updateCharacterForm.errors?.noNewValues">
                *Must change at least 1 value.
            </p>
        </div>
    </div>
</form>
