<div class="container">
    <h1 class="text-center m-5">Create Character</h1>
    <form [formGroup]="createCharacterForm" (ngSubmit)="onSubmit()" class="text-center content-card mx-auto p-5">
        <div class="d-flex flex-column">
            <p class="text-black">* required field</p>
            <div>
                <p class="text-black mb-0">*Image</p>
                <img *ngIf="imageData" [src]="imageData" alt="Character Image" width="200">
                <input (change)="onFileSelect($event)" type="file">
                <p class="text-danger"
                    *ngIf="createCharacterForm.controls['image'].touched && createCharacterForm.controls['image'].errors?.required">
                    *Image is required.
                </p>
            </div>
            <div>
                <input formControlName="name" type="text" placeholder="*Name">
                <p class="text-danger"
                    *ngIf="createCharacterForm.controls['name'].touched && createCharacterForm.controls['name'].errors?.required">
                    *Name is required.
                </p>
            </div>
            <div>
                <textarea formControlName="description" placeholder="*Description"></textarea>
                <p class="text-danger"
                    *ngIf="createCharacterForm.controls['description'].touched && createCharacterForm.controls['description'].errors?.required">
                    *Description is required.
                </p>
            </div>
            <div>
                <input formControlName="health" type="number" placeholder="*Health">
                <p class="text-danger"
                    *ngIf="createCharacterForm.controls['health'].touched && createCharacterForm.controls['health'].errors?.required">
                    *Health is required.
                </p>
            </div>
            <div>
                <input formControlName="speed" type="number" placeholder="*Speed">
                <p class="text-danger"
                    *ngIf="createCharacterForm.controls['speed'].touched && createCharacterForm.controls['speed'].errors?.required">
                    *Speed is required.
                </p>
            </div>
            <div>
                <p class="text-black mb-0">*Moves</p>
                <select formControlName="moves" size="2" multiple>
                    <option *ngFor="let move of moves" [value]="move._id">{{move.name}}</option>
                </select>
                <p class="text-danger"
                    *ngIf="createCharacterForm.controls['moves'].touched && createCharacterForm.controls['moves'].errors?.required">
                    *Moves are required.
                </p>
            </div>
            <div>
                <button type="submit" class="float-right">Create Character</button>
            </div>
        </div>
    </form>
</div>