<div class="container">
    <div class="content-card">
        <div class="admin-route-nav">
            <div class="admin-route-link" 
                routerLink="/admin/characters/" 
                routerLinkActive="active"
                [routerLinkActiveOptions]={exact:true}
            >
                <div>Show All Characters</div>
            </div>
            <div class="admin-route-link" 
                routerLink="/admin/characters/characters-create-character" 
                routerLinkActive="active"
                [routerLinkActiveOptions]={exact:true}
            >
                <div>Create Character</div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>