<div class="container">
    <h1 class="text-center m-5">Create Move</h1>
    <form [formGroup]="createMoveForm" (ngSubmit)="onSubmit()" class="text-center content-card mx-auto p-5">
        <div class="d-flex flex-column">
            <p>* required field</p>
            <div>
                <input formControlName="name" type="text" placeholder="*Name">
                <p class="text-danger"
                    *ngIf="createMoveForm.controls['name'].touched && createMoveForm.controls['name'].errors?.required">
                    *Name is required.
                </p>
            </div>
            <div>
                <input formControlName="ability" type="text" placeholder="*Ability">
                <p class="text-danger"
                    *ngIf="createMoveForm.controls['ability'].touched && createMoveForm.controls['ability'].errors?.required">
                    *Ability is required.
                </p>
            </div>
            <div>
                <input formControlName="power" type="number" placeholder="*Power">
                <p class="text-danger"
                    *ngIf="createMoveForm.controls['power'].touched && createMoveForm.controls['power'].errors?.required">
                    *Power is required.
                </p>
            </div>
            <div>
                <input formControlName="uses" type="number" placeholder="*Uses">
                <p class="text-danger"
                    *ngIf="createMoveForm.controls['uses'].touched && createMoveForm.controls['uses'].errors?.required">
                    *Uses are required.
                </p>
            </div>
            <div>
                <button type="submit" class="float-right">Create Move</button>
            </div>
        </div>
    </form>
</div>